
.wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
    flex-direction: column;
    border-radius: 10px;
    border-color: lavender;
    border-style: solid;
    background-color: azure;
}
.nameInput {
    margin: 0.5em;
}
.nameTextarea {
    margin: 0.5em;
}
input {
   border-color: blue;
    border-radius: 10px;
    background-color: aqua;
}